/* Profile Section */
#profile-update-form input::placeholder {
    color: #aab7c4
}

#profile-update-form .form-control {
    color: #282828;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4
}

/* Order History Section */
.order-history {
    max-height: 416px; /* height of Profile Section + Submit btn */
    overflow-y: auto;
}