{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Copyright Statement' %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/company_pages.css' %}">
{% endblock %}

{% block content %}
<!-- Main container for page content : Copyright Statement -->
<div class="container-fluid">
    <!-- Page header -->
    <div class="row">
        <div class="col mt-3 mb-3">
            <h1 class="page-title">Copyright Statement</h1>
            <hr class="mb-1">
        </div>
    </div>
    <div class="row">
        <div class="col mt-3 mb-3">
            <h2 class="page-subtitle mb-3">Copyright © The Coffee Collective 2022 | All Rights Reserved</h2>
        </div>
    </div>
    <!-- Page content -->
    <div class="row">
        <div class="col">
            <p class="card-text">
                All information contained in this Website is copyright by The Coffee Collective, and may not be duplicated,
                copied, modified or
                adapted, in any way without our written permission. Our Website may contain our service marks or trademarks
                as well as those of our
                affiliates or other companies, in the form of words, graphics, and logos.
            </p>
            <br />
            <p class="card-text">
                Your use of our Website, Services or Products does not constitute any right
                or license for you to use our service marks or trademarks, without the
                prior written permission of The Coffee Collective.
            </p>
            <br />
            <p class="card-text">
                Our Content, as found within our Website, Services and Products, is
                protected under United Kingdom and foreign copyrights. The copying,
                redistribution, use or publication by you of any such Content, is
                strictly prohibited. Your use of our Website, Services and Products does not grant
                you any ownership rights to our Content.
            </p>
            <br />
            <p class="card-text">
                If you have any questions, comments, or concerns, please contact <a class="mailto-anchor"
                    href="mailto:thecoffeecollective1972@gmail.com">thecoffeecollective1972@gmail.com</a>
            </p>
        </div>
    </div>
</div>
{% endblock content %}