{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'FAQs' %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/company_pages.css' %}">
{% endblock %}

{% block content %}
<!-- Main container for page content : FAQs -->
<div class="container-fluid">
    <!-- Page header -->
    <div class="row">
        <div class="col mt-3 mb-3">
            <h1 class="page-title">Frequently Asked Questions</h1>
            <hr class="mb-1">
        </div>
    </div>
    <!-- Intro text -->
    <div class="row">
        <div class="col mt-3 mb-3">
            <p class="card-text">
                When purchasing for the first time from any shop you may have some questions about how the process
                works, when will your items be delivered, or how best to store your coffee.
            </p>
            <p class="card-text">
                We've done our best to answer some of the most frequently asked questions.
            </p>
            <p class="card-text">
                If one of your questions isn't answered below or you would like some assistance don't hesitate to either
                email us at <a class="mailto-anchor" target="_blank" rel="noopener noreferer"
                    aria-label="Send an email to The Coffee Collective"
                    href="mailto:thecoffeecollective1972@gmail.com">thecoffeecollective1972@gmail.com</a> or call us on
                <a class="mailto-anchor" href="tel:+441618727795" aria-label="Call the coffee shop" target="_blank"
                    rel="noopener noreferer">01618727795.</a>
            </p>
        </div>
    </div>
    <!-- FAQs Vertical Accordion credited to Monica Wheeler on CodePen -->
    <div class="row">
        <div class="col mt-3 mb-3">
            <div id="faqs-section">
                <div style="visibility: hidden; position: absolute; width: 0px; height: 0px;">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <symbol viewBox="0 0 24 24" id="expand-more">
                            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z" />
                            <path d="M0 0h24v24H0z" fill="none" />
                        </symbol>
                        <symbol viewBox="0 0 24 24" id="close">
                            <path
                                d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                            <path d="M0 0h24v24H0z" fill="none" />
                        </symbol>
                    </svg>
                </div>
                <!-- Question 1 -->
                <details open>
                    <summary>
                        When will I receive my order?
                        <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" />
                        </svg>
                        <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" />
                        </svg>
                    </summary>
                    <p class="card-text">
                        If your order is 2kg or less it will be sent using Royal Mail Tracked Services, if over 2kg via
                        DPD courier service.
                    </p>
                    <p class="card-text">
                        For information on typical delivery times and how to track with Royal Mail, please see <a
                            class="mailto-anchor"
                            href="https://www.royalmail.com/personal/uk-delivery/personal-tracked24" target="_blank"
                            rel="noopener noreferer" aria-label="Learn more about 24 hour delivery">here for 24 hour
                            tracked</a> and <a class="mailto-anchor"
                            href="https://www.royalmail.com/personal/uk-delivery/personal-tracked48" target="_blank"
                            rel="noopener noreferer" aria-label="Learn more about 48 hour delivery">here for 48 hour
                            tracked</a>.
                    </p>
                </details>
                <!-- Question 2 -->
                <details>
                    <summary>
                        How much does delivery cost?
                        <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" />
                        </svg>
                        <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" />
                        </svg>
                    </summary>
                    <p class="card-text">
                        Delivery is <strong>free</strong> when you spend over £30.
                    </p>
                    <p class="card-text">
                        Otherwise it is 15% of your bag total.
                    </p>
                </details>
                <!-- Question 3 -->
                <details>
                    <summary>
                        Do I need to register to place an order?
                        <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" />
                        </svg>
                        <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" />
                        </svg>
                    </summary>
                    <p class="card-text">
                        You don't need to register or sign in to order. Instead you can checkout as a 'Guest'.
                    </p>
                    <p class="card-text">
                        Please bear in mind this will mean your order isn't stored on our website for future records.
                    </p>
                    <p class="card-text">
                        Creating an account allows you to do things like 'Reorder' quickly, see your previous orders and
                        retain delivery details for a quick checkout.
                    </p>
                </details>
                <!-- Question 4 -->
                <details>
                    <summary>
                        I'm having issues logging into my account
                        <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" />
                        </svg>
                        <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" />
                        </svg>
                    </summary>
                    <p class="card-text">
                        Potentially you have checked out as a 'Guest' in which case you will need to register for an
                        account <a class="mailto-anchor" target="_blank" rel="noopener noreferer"
                            aria-label="Register for Coffee Collective account"
                            href="{% url 'account_signup' %}">here</a></li>
                    </p>
                    <p class="card-text">
                        If this doesn't work, get in touch with us and we'll be able to help.
                    </p>
                </details>
                <!-- Question 5 -->
                <details>
                    <summary>
                        Can I make changes to my order?
                        <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" />
                        </svg>
                        <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" />
                        </svg>
                    </summary>
                    <p class="card-text">
                        Once an order has been paid for and processed, we are unable to change it.
                    </p>
                    <p class="card-text">
                        However, if you contact us in the shop on <a class="mailto-anchor" href="tel:+441618727795"
                            aria-label="Call the coffee shop" target="_blank" rel="noopener noreferer">01618727795</a>
                        as soon as possible then, provided your order has not been fulfilled, we'll be happy to
                        cancel/refund you.
                    </p>
                </details>
                <!-- Question 6 -->
                <details>
                    <summary>
                        Is your website secure?
                        <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" />
                        </svg>
                        <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" />
                        </svg>
                    </summary>
                    <p class="card-text">
                        Yes. The Coffee Collective Coffee is committed to protecting your privacy and promises not to
                        share any information we collect with any third party.
                    </p>
                    <p class="card-text">
                        Our website uses https, a more secure protocol, meaning your data and most importantly your
                        payment is encrypted and therefore better protected.
                    </p>
                    <p class="card-text">
                        Look for the padlock sign on your browser. We use Stripe Payments for our card payment handling,
                        one of the largest and most trusted payment handling company's in the world.
                    </p>
                </details>
                <!-- Question 7 -->
                <details>
                    <summary>
                        What is the correct grind size to choose for my brew method?
                        <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" />
                        </svg>
                        <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" />
                        </svg>
                    </summary>
                    <p class="card-text">
                        <ul class="faq-list">
                            <li class="faq-list-item">Choose Wholebean if you have either a grinder or bean to cup machine</li>
                            <li class="faq-list-item">Choose Ground if you have a Cafetiere, French Press, Moke Pot or Aeropress</li>
                        </ul>
                    </p>
                </details>
                <!-- Question 8 -->
                <details>
                    <summary>
                        How should I store my coffee?
                        <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" />
                        </svg>
                        <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" />
                        </svg>
                    </summary>
                    <p class="card-text">
                        Fresh air is coffee's greatest enemy. Oxygen and moisture within the air are quickly absorbed by
                        the roasted beans, at the expense of their inherently delicious flavours.
                    </p>
                    <p class="card-text">
                        When a bag is opened, in general, wholebean coffee begins to lose its flavour when left out
                        after one week, while ground coffee can do so within an hour of opening. If you are using
                        wholebean coffees, store them in their bags at room temperature, out of direct sunlight.
                    </p>
                    <p class="card-text">
                        Never store your coffee in the fridge - not even in an air-tight container. Fresh roasted coffee
                        is incredibly hygroscopic, and will quickly absorb odours in the air. A fridge normally contains
                        strong aromas, which will then be transferred to your cup.
                    </p>
                    <p class="card-text">
                        The best way to store coffee is in the freezer. This is because the inert environment will help
                        to lock in the fine flavours over a much longer period of time. This method of storage is
                        especially recommended if you are a low volume user of fresh, ground coffee.
                    </p>
                    <p class="card-text">
                        When taking coffee out for brewing after freezing it, always ensure that you take out only as
                        little as is needed, and return the rest of the pack back to the freezer, immediately. This is
                        because if kept out for long periods of time, condensation will form on the grounds, and thus
                        destroy the flavours, particularly if this water is then re-frozen. Coffee does not like
                        frequent extreme changes of temperature.
                    </p>
                </details>
                <!-- Question 9 -->
                <details>
                    <summary>
                        Why is important for coffee to be fresh?
                        <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" />
                        </svg>
                        <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" />
                        </svg>
                    </summary>
                    <p class="card-text">
                        Coffee freshness is important because coffee loses its qualities over time at the contact of
                        oxygen and humidity, which is why we recommend you to store your coffee in a tight and sealed
                        container once it is open.
                    </p>
                    <p class="card-text">
                        Because of the minuscule particle size pre-ground coffee is much more exposed to this staling
                        process and will start losing its quality and taste within a few days. We flush the bags with
                        nitrogen to force the oxygen out and prevent oxidation- however once the bag seal is opened, the
                        coffee will be exposed to air again and should be used quickly!
                    </p>
                    <p class="card-text">
                        Never store your coffee in the fridge - not even in an air-tight container. Fresh roasted coffee
                        is incredibly hygroscopic, and will quickly absorb odours in the air. A fridge normally contains
                        strong aromas, which will then be transferred to your cup.
                    </p>
                    <p class="card-text">
                        On the other hand coffee can also be too fresh. It may sound odd that a coffee can be too fresh,
                        but the roasting process creates carbon dioxide inside the beans which takes several days to
                        slowly escape. This carbon dioxide creates microscopic gas pockets which prevents the brewing
                        water from fully extracting the flavours and this effect is magnified by the high pressure
                        espresso machines apply to the coffee.
                    </p>
                </details>
                <!-- Question 10 -->
                <details>
                    <summary>
                        What can I do with the used coffee grounds?
                        <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" />
                        </svg>
                        <svg class="control-icon control-icon-close" width="24" height="24" role="presentation">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" />
                        </svg>
                    </summary>
                    <p class="card-text">
                        <ul class="faq-list">
                            <li class="faq-list-item"><strong>Feed your garden.</strong> Pour your coffee grounds directly onto the soil
                                around your flowers.
                                This will improve drainage, water retention and aeration in the soil. It will also
                                attract microorganisms and earthworms beneficial to plant growth.</li>
                            <li class="faq-list-item"><strong>Feed your houseplants.</strong> Houseplants are said to reduce stress, so if you
                                are looking to
                                create a calming environment, invest in some indoor greenery. Put a small amount of used
                                coffee grounds into your plant pots to help them last longer. The nitrogen in the coffee
                                is essential for photosynthesis and therefore helps plants grow.</li>
                            <li class="faq-list-item"><strong>Feed your cut flowers.</strong> Fill a small jar with a coffee-soil mix to
                                lengthen the life of
                                your cut flowers. It also creates a lovely ‘outdoors in’ feel for your home</li>
                        </ul>
                    </p>
                </details>
            </div>
        </div>
    </div>
</div>
{% endblock content %}