{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Health Benefits' %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/company_pages.css' %}">
{% endblock %}

{% block content %}
<!-- Main container for page content : Health Benefits -->
<div class="container-fluid">
    <!-- Page header -->
    <div class="row">
        <div class="col mt-3 mb-3">
            <h1 class="page-title">Health Benefits</h1>
            <hr class="mb-1">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="card-text">
                At The Coffee Collective we believe the right amount of coffee can provide benefits to your health -
                it's not just a placebo!
            </p>
            <p class="card-text">Most of the benefits are well documented across the internet. Our favourtie source of
                coffee related news is <a href="https://www.coffeescience.org/" aria-label="Visit coffeescience.org"
                    target="_blank" class="mailto-anchor" rel="noopener noreferer">Coffee Science</a>. Helpfully we have
                distilled their Top 10 Little-Known Health Benefits article for you. However please visit their site at
                some point to
                explore how to make the perfect latte, the impact of milk and much more.</p>
            <br>
            <h2 class="page-subtitle">1. Caffeine Provides a Short-term Memory Boost</h2>
            <p class="card-text">In a research, a few individuals received a dose of 150 milligrams of caffeine each,
                about as much consisted of a cup of coffee. The researchers noticed a significant surge in their brain
                activity. The researchers, also, noted that the reaction times, as well as memory skills of the
                caffeinated individual improved dramatically compared to the control group that received an ordinary
                placebo. To be specific, they didn't indicate any increase whatsoever as far as brain activity is
                concerned.
            </p>
            <h3 class="page-h3-title">How it functions</h3>
            <p class="card-text">According to leading neurologists and toxicologists, caffeine is believed to affect
                areas of the brain responsible for concentration and memory. And so as a direct consequence, caffeine
                provides a boost to the short-term memory as well as an individual's concentration acuity. However, it
                is worth noting that it is not exactly clear how long the boosting lasts. Better yet, it is not clear
                how it may vary from one person to another.
            </p>
            <br>
            <h2 class="page-subtitle">2. It is a Source of Useful Antioxidants</h2>
            <p class="card-text">Studies show that coffee boasts of more antioxidant activity compared to the two
                antioxidant superstars; cocoa, and tea. In fact, a wide range of detailed lab analysis carried out over
                the years has identified over 1,000 antioxidants in coffee beans - unprocessed at that. Interestingly,
                hundreds of more antioxidants come up on roasting the beans. What's more, a 2012 research labeled coffee
                as one of the core dietary antioxidants source readily available today.</p>
            <h3 class="page-h3-title">How it functions</h3>
            <p class="card-text">In case you didn't know, a majority of the antioxidants that can be found in a cup of
                coffee aids in the fight against inflammations. And by an inflammation we mean an underlying cause of
                various chronic conditions. The likes of atherosclerosis, some cancer types, and arthritis.<br>Other
                than that, antioxidants play a significant role in neutralising free radicals that naturally occur as a
                part of daily metabolic functions. However, the radicals in question are those that can cause oxidative
                stress and not the useful type. In other words, the antioxidants in a steaming cup of coffee can go a
                long way in keeping you healthy at a micro-level. And they do so by protecting your cells from any
                possible external physical damage.<br>Lastly, chromogenic acid, (one of the main antioxidants found in
                coffee) has been proven to have the limited ability to prevent cardiovascular diseases.</p>
            <br>
            <h2 class="page-subtitle">3. A Regular Cup of Coffee Can Keep Cognitive Decline at Bay</h2>
            <p class="card-text">It's no secret that coffee provides a temporary boost in memory and brain activity. But
                what most of us don't know is that frequent consumption of coffee can as well prevent cognitive decline
                related to mental anomalies such as Alzheimer's disease.<br>In an extensive study, experts found that
                taking around three to five cups of coffee every day has some unique benefits that can't be replicated
                elsewhere. They associated it with 65% reduced a risk of dementia and Alzheimer's in later life. On
                retrospect, the researchers investigated the effect of taking tea or other beverages such as cocoa or
                beer on cognitive decline. Interestingly enough, they found no association.</p>
            <h3 class="page-h3-title">The backdrop</h3>
            <p class="card-text">There are various theories on how coffee can help prevent or better yet, protect
                cognitive decline. But before that here is a quick fact, caffeine in coffee prevents beta-amyloid plaque
                build-up. The plaque can contribute to the beginning as well as the progression of Alzheimer's. Besides,
                researchers theorise that since a regular cup of coffee can keep dietary diabetes away (a dementia risk
                factor), it can also be said to minimise the danger of developing dementia.</p>
            <br>
            <h2 class="page-subtitle">4. Coffee Helps Curb Some Cancers</h2>
            <p class="card-text">According to cancer specialists, men who take coffee regularly have a lower risk of
                developing the deadly prostate cancer compared to those who use other beverages. In similar tandem,
                various researchers suggest that taking four or more cups of coffee every day decreases the risk of
                endometrial cancer in women.<br>Statistically, women who take four or more cups of coffee on a regular
                daily basis have a 25% reduced chance of falling scourge to this cancer compared to the women who drink
                less than one cup daily. On the same spectrum, researchers have found a relationship between frequent
                coffee drinking and lower rates of breast, colon, rectal, and liver cancers.
            </p>
            <h3 class="page-h3-title">But how does this happen?</h3>
            <p class="card-text">As discussed earlier, Coffee contains antioxidant phytochemicals called polyphenols.
                Such chemicals have demonstrated many anticarcinogenic properties in various studies and detailed lab
                analysis conducted over the past the few decades. So in short, these phytochemicals act as buffers that
                stave off the chances of tumours bursting up at the very slight exposure to carcinogenic compounds.
            </p>
            <br>
            <h2 class="page-subtitle">5. Coffee Reduces the Risk of Developing Diabetes</h2>
            <p class="card-text">A good chunk of health and nutrition experts from around the world subscribe to the
                idea that there is an association between taking coffee and a decreased risk of diabetes. And this
                mostly because it has been recently proven that the danger of suffering from diabetes drops by 7 % for
                every cup of coffee downed. Also, epidemiological studies indicated that heavy coffee users have a 50%
                reduced risk of suffering from diabetes compared to light drinkers or even non-drinkers.
            </p>
            <h3 class="page-h3-title">The Backdrop</h3>
            <p class="card-text">There are several ways in which coffee is beneficial in warding off diabetes. First of
                all, it helps the body utilise insulin and protects insulin-producing cells and as a direct consequence,
                it allows effective blood sugar regulation. Not to mention the fact that a healthy blood-sugar balance
                is akin to a diabetes-free life.<br>Second on the list, it prevents tissue damage. Particularly that
                resulting from battling inflammation in the body (one of the type 2 diabetes risk factors).<br>Far from
                that, Caffeic acid, a coffee component, is known to be significant in lowering toxic accumulation of
                some abdominal protein deposits. Such deposits, like amyloid fibrils, are found in individuals with
                diabetes.
            </p>
            <br>
            <h2 class="page-subtitle">6. Coffee is Healthy for Human Heart</h2>
            <p class="card-text">Before you dismiss it as another internet myth, take a second to read on a bit. A study
                that involved over 37,000 individuals over 13 years was carried was recently finalised by leading
                cardiology researchers. Surprising enough, the research unearthed the fact that moderate coffee
                consumers had a 20 percent reduced danger of heart diseases compared to light or heavy drinkers, and
                nondrinkers.
            </p>
            <h3 class="page-h3-title">But how is this even possible?</h3>
            <p class="card-text">You don't have to be a trained cardiologist to see that that coffee supports heart
                health. This, it does so by protecting the heart's muscular chamber against artery damage that may
                result from inflammation. This way, various heart diseases are warded off including common ailments such
                as hypertension, thrombosis, heart attack, heart failure, among others.
            </p>
            <br>
            <h2 class="page-subtitle">7. Coffee Enhances Exercise Performance</h2>
            <p class="card-text">It's unfortunate that most of us have been conditioned to believe caffeine is a
                dehydrating agent.It is also one of the reasons in your formative years you were discouraged from
                sipping coffee or tea before a long class or lecture. Even fitness gurus do not recommend taking coffee
                before or after an intensive workout.<br>But far from that, recent studies have shown that as much as
                caffeine can stimulate dehydration, moderate consumption of coffee does not dehydrate gym enthusiasts to
                that extent of interrupting their workout. On the contrary, coffee and it's battalion of goodness
                assists in combating physical fatigue thus allowing you a higher endurance margin on the treadmill or
                under the barbells.
            </p>
            <h3 class="page-h3-title">How does this come about?</h3>
            <p class="card-text">Caffeine is a performance as well as endurance enhancer. Not only does it help fight
                fatigue but also strengthens contraction of striation muscles. To some extent, it can cut off an
                athlete's pain perception and increase fatty acid levels in the blood. The result of this, in the long
                run, is stallion-like endurance.
            </p>
            <br>
            <h2 class="page-subtitle">8. It is Healthy for your Liver</h2>
            <p class="card-text">Regardless of what you might come across in health blogs and nutrition magazine, it's
                true that coffee lowers the danger of liver cancer. Once again, a steady coffee consumption has been
                linked to a lower cirrhosis incidence more so alcoholic cirrhosis. Some studies have even indicated an
                inverse correlation between increased coffee drinking and a reduced risk of cirrhosis- 20% reduction for
                every cup consumed.
            </p>
            <h3 class="page-h3-title">How it Functions</h3>
            <p class="card-text">To support this argument, consider this. A recent in-depth research done in Turkey last
                year revealed an inverse relationship between consumption of coffee and blood levels of all liver
                enzymes. Conventionally, increased levels of liver enzymes reflect damage and inflammation to the liver.
                Simply, the more coffee drank, the lesser their enzyme levels.
            </p>
            <br>
            <h2 class="page-subtitle">9. It Guards Against Gout</h2>
            <p class="card-text">Studies on coffee consumption patterns of both genders indicate that regular coffee
                drinking lowers the danger of developing gout. Another separate study analysed the health behaviours of
                almost 90,000 female nurses across 26 years. Far from what most of them expected, a positive correlation
                between decreased threat for gout and long-term coffee consumption was noted.<br>Women who took more
                than 4 cups daily showed a 57% lower gout risk, and so did those who took at least at three cups of
                decaf per day. Besides, the likelihood of gout decreased by 22% in women who consumed between 1 and
                three coffee cups daily.<br>Again, a single cup of decaf daily was associated with 23% reduced gout
                risk. All these patterns were benchmarked against those who consumed no coffee at all.
            </p>
            <h3 class="page-h3-title">The Backdrop</h3>
            <p class="card-text">Antioxidant properties of coffee are believed to reduce the risk of developing gout by
                reducing unhealthy insulin levels. In turn, this reduces levels of uric acid. Ideally, it is widely
                believed that a high uric acid concentration causes gout.
            </p>
            <br>
            <h2 class="page-subtitle">10. Coffee Curbs Depression</h2>
            <p class="card-text">A horde of past and recent studies have linked coffee consumption with lower depression
                rates in men and women. In these studies, data collected suggested an inverse relation between
                depression and coffee drinking. In fact, coffee aficionados seem to have the lowest risk of falling prey
                to depression.
            </p>
            <h3 class="page-h3-title">How it Functions</h3>
            <p class="card-text">Naturally, caffeine is known to activate neurotransmitters that can control mood. Such
                transmitters include serotonin and dopamine. This way, coffee staves off depression by stimulating the
                injection of these feel-good hormones in the blood.
            </p>
        </div>
    </div>
    <!-- Optional navigation -->
    <div class="row">
        <div class="col mt-3 mb-3">
            <a href="{% url 'products' %}" class="btn rounded-0 my-2" style="color: #351c75">
                <span class="text-uppercase">Which products will you choose to realise these benefits?</span>
                <span class="icon mr-2">
                    <i class="fa-solid fa-brain"></i>
                </span>
            </a>
        </div>
    </div>
</div>
{% endblock content %}