{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Terms' %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/company_pages.css' %}">
{% endblock %}

{% block content %}
<!-- Main container for page content : Terms and Conditions -->
<div class="container-fluid">
    <!-- Page header -->
    <div class="row">
        <div class="col mt-3 mb-3">
            <h1 class="page-title">Terms and Conditions</h1>
            <hr class="mb-1">
        </div>
    </div>
    <!-- Page content -->
    <div class="row">
        <div class="col">
            <p class="card-text"> Please read all the terms and conditions within the link below. As we can accept your
                order and make a legally enforceable agreement without further reference to you, you must read these
                terms and conditions to make sure that they contain all that you want and nothing that you are not happy
                with. </p>
            <br/>
            <h2 class="page-subtitle">Application</h2>
            <p class="card-text">
                <ul>
                    <li>1. These Terms and Conditions will apply to the purchase of the goods by you (the Customer or
                        you). We are The Coffee Collective Limited a company registered in England and Wales under
                        number 88479836702953X whose registered office is at 1 Tariff Street, Manchester, Greater
                        Manchester, M1 2FF with email address thecoffeecollective1972@gmail.com; (the Supplier or us or
                        we). </li>
                    <li>2. These are the terms on which we sell all Goods to you. By ordering any of the Goods, you
                        agree to be bound by these Terms and Conditions. By ordering any of the Services, you agree to
                        be bound by these Terms and Conditions. You can only purchase the Goods from the Website if you
                        are eligible to enter into a contract and are at least 18 years old. </li>
                </ul>
            </p>
            <br/>
            <h2 class="page-subtitle">Interpretation</h2>
            <p class="card-text">
                <ul>
                    <li>3. Consumer means an individual acting for purposes which are wholly or mainly outside their
                        trade, business, craft or profession; </li>
                    <li>4. Contract means the legally-binding agreement between you and us for the supply of the Goods;
                    </li>
                    <li>5. Delivery Location means the Supplier's premises or other location where the Goods are to be
                        supplied, as set out in the Order; </li>
                    <li>6. Durable Medium means paper or email, or any other medium that allows information to be
                        addressed personally to the recipient, enables the recipient to store the information in a way
                        accessible for future reference for a period that is long enough for the purposes of the
                        information, and allows the unchanged reproduction of the information stored; </li>
                    <li>7. Goods means the goods advertised on the Website that we supply to you of the number and
                        description as set out in the Order; </li>
                    <li>8. Order means the Customer's order for the Goods from the Supplier as submitted following the
                        step by step process set out on the Website; </li>
                    <li>9. Privacy Policy means the terms which set out how we will deal with confidential and personal
                        information received from you via the Website; </li>
                    <li>10. Website means our website https://the-coffee-collective.herokuapp.com/ on which the Goods
                        are advertised. </li>
                </ul>
            </p>
            <br/>
            <h2 class="page-subtitle">Goods</h2>
            <p class="card-text">
                <ul>
                    <li>11. The description of the Goods is as set out in the Website, catalogues, brochures or other
                        form of advertisement. Any description is for illustrative purposes only and there may be small
                        discrepancies in the size and colour of the Goods supplied. </li>
                    <li>12. In the case of any Goods made to your special requirements, it is your responsibility to
                        ensure that any information or specification you provide is accurate. </li>
                    <li>13. All Goods which appear on the Website are subject to availability. </li>
                    <li>14. We can make changes to the Goods which are necessary to comply with any applicable law or
                        safety requirement. We will notify you of these changes. </li>
                </ul>
            </p>
            <br/>
            <h2 class="page-subtitle">Personal Information</h2>
            <p class="card-text">
                <ul>
                    <li>15. We retain and use all information strictly under the Privacy Policy. </li>
                    <li>16. We may contact you by using e-mail or other electronic communication methods and by pre-paid
                        post and you expressly agree to this. </li>
                </ul>
            </p>
            <br/>
            <h2 class="page-subtitle">Basis of Sale</h2>
            <p class="card-text">
                <ul>
                    <li>17. The description of the Goods in our website does not constitute a contractual offer to sell
                        the Goods. When an Order has been submitted on the Website, we can reject it for any reason,
                        although we will try to tell you the reason without delay. </li>
                    <li>18. The Order process is set out on the Website. Each step allows you to check and amend any
                        errors before submitting the Order. It is your responsibility to check that you have used the
                        ordering process correctly. </li>
                    <li>19. A Contract will be formed for the sale of Goods ordered only when you receive an email from
                        us confirming the Order (Order Confirmation). You must ensure that the Order Confirmation is
                        complete and accurate and inform us immediately of any errors. We are not responsible for any
                        inaccuracies in the Order placed by you. By placing an Order you agree to us giving you
                        confirmation of the Contract by means of an email with all information in it (ie the Order
                        Confirmation). You will receive the Order Confirmation within a reasonable time after making the
                        Contract, but in any event not later than the delivery of any Goods supplied under the Contract.
                    </li>
                    <li>20. Any quotation is valid for a maximum period of days from its date, unless we expressly
                        withdraw it at an earlier time </li>
                    <li>21. No variation of the Contract, whether about description of the Goods, Fees or otherwise, can
                        be made after it has been entered into unless the variation is agreed by the Customer and the
                        Supplier in writing. </li>
                    <li>22. We intend that these Terms and Conditions apply only to a Contract entered into by you as a
                        Consumer. If this is not the case, you must tell us, so that we can provide you with a different
                        contract with terms which are more appropriate for you and which might, in some respects, be
                        better for you, eg by giving you rights as a business. </li>
                </ul>
            </p>
            <br/>
            <h2 class="page-subtitle">Price and Payment</h2>
            <p class="card-text">
                <ul>
                    <li>23. The price of the Goods and any additional delivery or other charges is that set out on the
                        Website at the date of the Order or such other price as we may agree in writing.</li>
                    <li>24. Prices and charges include VAT at the rate applicable at the time of the Order.</li>
                    <li>25. You must pay by submitting your credit or debit card details with your Order and we can take
                        payment immediately or otherwise before delivery of the Goods.</li>
                </ul>
            </p>
            <br/>
            <h2 class="page-subtitle">Delivery</h2>
            <p class="card-text">
                <ul>
                    <li>26. We will deliver the Goods, to the Delivery Location by the time or within the agreed period
                        or, failing any agreement, without undue delay and, in any event, not more than 30 days after
                        the day on which the Contract is entered into.</li>
                    <li> 27. In any case, regardless of events beyond our control, if we do not deliver the Goods on
                        time, you can (in addition to any other remedies) treat the Contract at an end if:
                    <li>a) we have refused to deliver the Goods, or if delivery on time is essential taking into account
                        all the relevant circumstances at the time the Contract was made, or you said to us before the
                        Contract was made that delivery on time was essential; or</li>
                    <li>b) after we have failed to deliver on time, you have specified a later period which is
                        appropriate to the circumstances and we have not delivered within that period.</li>
                    </li>
                    <li>28. If you treat the Contract at an end, we will (in addition to other remedies) promptly return
                        all payments made under the Contract.</li>
                    <li>29. If you were entitled to treat the Contract at an end, but do not do so, you are not
                        prevented from cancelling the Order for any Goods or rejecting Goods that have been delivered
                        and, if you do this, we will (in addition to other remedies) without delay return all payments
                        made under the Contract for any such cancelled or rejected Goods. If the Goods have been
                        delivered, you must return them to us or allow us to collect them from you and we will pay the
                        costs of this.</li>
                    <li>30. If any Goods form a commercial unit (a unit is a commercial unit if division of the unit
                        would materially impair the value of the goods or the character of the unit) you cannot cancel
                        or reject the Order for some of those Goods without also cancelling or rejecting the Order for
                        the rest of them.</li>
                    <li>31. We do not generally deliver to addresses outside England and Wales, Scotland, Northern
                        Ireland, the Isle of Man and Channels Islands. If, however, we accept an Order for delivery
                        outside that area, you may need to pay import duties or other taxes, as we will not pay them.
                    </li>
                </ul>
            </p>
            <br/>
            <h2 class="page-subtitle">Risk and Title</h2>
            <p class="card-text">
                <ul>
                    <li>35. Risk of damage to, or loss of, any Goods will pass to you when the Goods are delivered to
                        you.</li>
                    <li>36. You do not own the Goods until we have received payment in full. If full payment is overdue
                        or a step occurs towards your bankruptcy, we can choose, by notice to cancel any delivery and
                        end any right to use the Goods still owned by you, in which case you must return them or allow
                        us to collect them. </li>
                </ul>
            </p>
            <br/>
            <h2 class="page-subtitle">Withdrawal, returns and cancellation</h2>
            <p class="card-text">
                <ul>
                    <li>37. You can withdraw the Order by telling us before the Contract is made, if you simply wish to
                        change your mind and without giving us a reason, and without incurring any liability. </li>
                    <li>38.This is a distance contract (as defined below) which has the cancellation rights
                        (Cancellation Rights) set out below. These Cancellation Rights, however, do not apply, to a
                        contract for the following goods (with no others) in the following circumstances: <ol>
                            foodstuffs, beverages or other goods intended for current consumption in the household and
                            which are supplied on frequent and regular rounds to your residence or workplace;</ol>
                        <ol>goods that are made to your specifications or are clearly personalised;</ol>
                        <ol>goods which are liable to deteriorate or expire rapidly.</ol>
                    </li>
                    <li>39. Also, the Cancellation Rights for a Contract cease to be available in the following
                        circumstances: in the case of any sales contract, if the goods become mixed inseparably
                        (according to their nature) with other items after delivery.</li>
                </ul>
            </p>
            <h3 class="page-h3-title">Right to cancel</h3>
            <p class="card-text">
                <ul>
                    <li>40. Subject as stated in these Terms and Conditions, you can cancel this contract within 14 days
                        without giving any reason.</li>
                    <li>41. The cancellation period will expire after 14 days from the day on which you acquire, or a
                        third party, other than the carrier indicated by you, acquires physical possession of the last
                        of the Goods. In a contract for the supply of goods over time (ie subscriptions), the right to
                        cancel will be 14 days after the first delivery.</li>
                    <li>42. To exercise the right to cancel, you must inform us of your decision to cancel this Contract
                        by a clear statement setting out your decision (eg a letter sent by post or email). You can use
                        the attached model cancellation form, but it is not obligatory. In any event, you must be able
                        to show clear evidence of when the cancellation was made, so you may decide to use the model
                        cancellation form.</li>
                    <li>43. You can also electronically fill in and submit the model cancellation form or any other
                        clear statement of the Customer's decision to cancel the Contract on our website
                        https://the-coffee-collective.herokuapp.com/. If you use this option, we will communicate to you
                        an acknowledgement of receipt of such a cancellation in a Durable Medium (eg by email) without
                        delay.</li>
                    <li>44. To meet the cancellation deadline, it is sufficient for you to send your communication
                        concerning your exercise of the right to cancel before the cancellation period has expired.</li>
                </ul>
            </p>
            <h3 class="page-h3-title">Effects of cancellation in the cancellation period</h3>
            <p class="card-text">
                <ul>
                    <li>45. Except as set out below, if you cancel this Contract, we will reimburse to you all payments
                        received from you, including the costs of delivery (except for the supplementary costs arising
                        if you chose a type of delivery other than the least expensive type of standard delivery offered
                        by us).</li>
                </ul>
            </p>
            <h3>Deduction for Goods supplied</h3>
            <p class="card-text">
                <ul>
                    <li>46. We may make a deduction from the reimbursement for loss in value of any Goods supplied, if
                        the loss is the result of unnecessary handling by you (ie handling the Goods beyond what is
                        necessary to establish the nature, characteristics and functioning of the Goods: eg it goes
                        beyond the sort of handling that might be reasonably allowed in a shop). This is because you are
                        liable for that loss and, if that deduction is not made, you must pay us the amount of that
                        loss.</li>
                </ul>
            </p>
            <h3 class="page-h3-title">Timing of reimbursement</h3>
            <p class="card-text">
                <ul>
                    <li>47. If we have not offered to collect the Goods, we will make the reimbursement without undue
                        delay, and not later than: a. 14 days after the day we receive back from you any Goods supplied,
                        or b. (if earlier) 14 days after the day you provide evidence that you have sent back the Goods.
                    </li>
                    <li>48. If we have offered to collect the Goods or if no Goods were supplied, we will make the
                        reimbursement without undue delay, and not later than 14 days after the day on which we are
                        informed about your decision to cancel this Contract.</li>
                    <li>49. We will make the reimbursement using the same means of payment as you used for the initial
                        transaction, unless you have expressly agreed otherwise; in any event, you will not incur any
                        fees as a result of the reimbursement.</li>
                </ul>
            </p>
            <h3 class="page-h3-title">Returning Goods</h3>
            <p class="card-text">
                <ul>
                    <li>50. If you have received Goods in connection with the Contract which you have cancelled, you
                        must send back the Goods or hand them over to us at 1 Tariff Street, Manchester, Greater
                        Manchester, M1 2FF without delay and in any event not later than 14 days from the day on which
                        you communicate to us your cancellation of this Contract. The deadline is met if you send back
                        the Goods before the period of 14 days has expired. You agree that you will have to bear the
                        cost of returning the Goods. If we have not offered to collect the Goods, we will make the
                        reimbursement without undue delay, and not later than: a. 14 days after the day we receive back
                        from you any Goods supplied, or b. (if earlier) 14 days after the day you provide evidence that
                        you have sent back the Goods.</li>
                    <li>51. For the purposes of these Cancellation Rights, these words have the following meanings: a.
                        distance contract means a contract concluded between a trader and a consumer under an organised
                        distance sales or service-provision scheme without the simultaneous physical presence of the
                        trader and the consumer, with the exclusive use of one or more means of distance communication
                        up to and including the time at which the contract is concluded; b. sales contract means a
                        contract under which a trader transfers or agrees to transfer the ownership of goods to a
                        consumer and the consumer pays or agrees to pay the price, including any contract that has both
                        goods and services as its object. </li>
                </ul>
            </p>
            <br/>
            <h2 class="page-subtitle">Conformity and Guarantee</h2>
            <p class="card-text">
                <ul>
                    <li>52. We have a legal duty to supply the Goods in conformity with the Contract, and will not have
                        conformed if it does not meet the following obligation.</li>
                    <li>53. Upon delivery, the Goods will: a. be of satisfactory quality; b. be reasonably fit for any
                        particular purpose for which you buy the Goods which, before the Contract is made, you made
                        known to us (unless you do not actually rely, or it is unreasonable for you to rely, on our
                        skill and judgment) and be fit for any purpose held out by us or set out in the Contract; and c.
                        conform to their description. </li>
                    <li>It is not a failure to conform if the failure has its origin in your materials. </li>
                    <li>55. We will immediately, or within a reasonable time, give you the benefit of the free guarantee
                        given by the manufacturer of the Goods. Details of the guarantee, including the name and address
                        of the manufacturer, the duration and territorial scope of the guarantee, are set out in the
                        manufacturer's guarantee provided with the Goods. This guarantee will take effect at the time
                        the Goods are delivered, and will not reduce your legal rights.</li>
                </ul>
            </p>
            <h2 class="page-subtitle">Privacy</h2>
            <p class="card-text">
                <ul>
                    <li>56. WYour privacy is critical to us. We respect your privacy and comply with the General Data
                        Protection Regulation with regard to your personal information.</li>
                    <li>57. These Terms and Conditions should be read alongside, and are in addition to our policies,
                        including our privacy policy
                        (https://the-coffee-collective.herokuapp.com/company/privacy_policy) and cookies policy
                        (https://the-coffee-collective. herokuapp.com/company/cookies_policy). </li>
                    <li>58.For the purposes of these Terms and Conditions: a. 'Data Protection Laws' means any
                        applicable law relating to the processing of Personal Data, including, but not limited to the
                        GDPR. b. 'GDPR' means the UK General Data Protection Regulation. c. 'Data Controller', 'Personal
                        Data' and 'Processing' shall have the same meaning as in the GDPR. </li>
                    <li>59. We are a Data Controller of the Personal Data we Process in providing Goods to you.</li>
                    <li>60. Where you supply Personal Data to us so we can provide Goods to you, and we Process that
                        Personal Data in the course of providing the Goods to you, we will comply with our obligations
                        imposed by the Data Protection Laws: a. before or at the time of collecting Personal Data, we
                        will identify the purposes for which information is being collected; b. we will only Process
                        Personal Data for the purposes identified; c. we will respect your rights in relation to your
                        Personal Data; and d. we will implement technical and organisational measures to ensure your
                        Personal Data is secure. </li>
                    <li>61. For any enquiries or complaints regarding data privacy, you can e-mail: <a
                            class="mailto-anchor"  target="_blank" rel="noopener noreferer"
                            aria-label="Send an email to The Coffee Collective"
                            href="mailto:thecoffeecollective1972@gmail.com">thecoffeecollective1972@gmail.com</a>
                    </li>
                </ul>
            </p>
            <br/>
            <h2 class="page-subtitle">Excluding Liability</h2>
            <p class="card-text">
                <ul>
                    <li>62. The Supplier does not exclude liability for: (i) any fraudulent act or omission; or (ii) for
                        death or personal injury caused by negligence or breach of the Supplier's other legal
                        obligations. Subject to this, the Supplier is not liable for (i) loss which was not reasonably
                        foreseeable to both parties at the time when the Contract was made, or (ii) loss (eg loss of
                        profit) to the Customer's business, trade, craft or profession which would not be suffered by a
                        Consumer - because the Supplier believes the Customer is not buying the Goods wholly or mainly
                        for its business, trade, craft or profession. </li>
                </ul>
            </p>
            <br/>
            <h2 class="page-subtitle">Governing law, jurisdiction and complaints</h2>
            <p class="card-text">
                <ul>
                    <li>63. The Contract (including any non-contractual matters) is governed by the law of England and
                        Wales.</li>
                    <li>64. Disputes can be submitted to the jurisdiction of the courts of England and Wales or, where
                        the Customer lives in Scotland or Northern Ireland, in the courts of respectively Scotland or
                        Northern Ireland. </li>
                    <li>65. We try to avoid any dispute, so we deal with complaints in the following way: If a dispute
                        occurs customers should contact us to find a solution. We will aim to respond with an
                        appropriate solution within 5 days. </li>
                </ul>
            </p>
            <br/>
            <h2 class="page-subtitle">Excluding Liability</h2>
            <p class="card-text">
                <ul>
                    <li>62. The Supplier does not exclude liability for: (i) any fraudulent act or omission; or (ii) for
                        death or personal injury caused by negligence or breach of the Supplier's other legal
                        obligations. Subject to this, the Supplier is not liable for (i) loss which was not reasonably
                        foreseeable to both parties at the time when the Contract was made, or (ii) loss (eg loss of
                        profit) to the Customer's business, trade, craft or profession which would not be suffered by a
                        Consumer - because the Supplier believes the Customer is not buying the Goods wholly or mainly
                        for its business, trade, craft or profession. </li>
                </ul>
            </p>
            <br/>
            <h2 class="page-subtitle">Attribution</h2>
            <p class="card-text">
                <ul>
                    <li>These terms and conditions were created using a document from Rocket Lawyer
                        https://www.rocketlawyer.com/gb/en.</li>
                </ul>
            </p>
            <br/>
        </div>
    </div>
</div>
{% endblock content %}