@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Flex:opsz,wght@8..144,100;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&display=swap');

/* || GENERAL STYLES */

body,
html {
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    height: 100%;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Open Sans', sans-serif;
    font: 1rem;
    font-weight: 400;
    color: #282828;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}



/* |||| MEDIA QUERIES  */

/* Small devices (smartphones, up to 767px) */
@media (max-width: 767px) {
    
    /* || NAVBAR STYLES  */

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
    /* || NAVBAR STYLES  */
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
    /* || GENERAL STYLES  */
    .container {
        max-width: 80%;
      }
}