{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Details of 405 error and button to navigate to home -->
<div class="container">
    <div class="row">
        <div class="col-12 mt-3">
            <h1 class="display-4 error-page-header">
                404 Page Error
            </h1>
            <p class="lead-error-p">Sorry! We you are not allowed to navigate to this part of the website.</p>
            <hr class="my-4">
            <p>Please use the button below to return to our store.</p>
            <p class="lead">
                <a class="btn btn-lg standard-btn" href="{% url 'home' %}" role="button">Home</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}