<footer class="w-100">
    <div class="container footer-div">
        <div class="row">
            <!-- Useful Pages List -->
            <div class="col-12 col-sm-8">
                <ul class="footer-list-links">
                    <li><a href="{% url 'our_story' %}" class="footer-item">Our Story</a></li>
                    <li><a href="{% url 'sustainability' %}" class="footer-item">Sustainability</a></li>
                    <li><a href="{% url 'faqs' %}" class="footer-item">FAQs</a></li>
                    <li><a href="" class="footer-item">Contact</a></li>
                </ul>
            </div>
            <!-- Social Outlets -->
            <div class="col-6 col-sm-4">
                <ul class="footer-list-socials">
                    <li class="footer-item">
                        <a href="https://facebook.com" aria-label="Go to our Facebook page" target="_blank"
                            class="social-media-icon" rel="noopener noreferer"><i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="https://instagram.com" aria-label="Go to our Instagram page" target="_blank"
                            class="social-media-icon" rel="noopener noreferer"><i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="https://twitter.com" aria-label="Go to our Twitter feed" target="_blank"
                            class="social-media-icon" rel="noopener noreferer"><i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="https://youtube.com" aria-label="Go to our YouTube page" target="_blank"
                            class="social-media-icon" rel="noopener noreferer"><i class="fa-brands fa-youtube"></i>
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="https://linkedin.com" aria-label="Go to our LinkedIn page" target="_blank"
                            class="social-media-icon" rel="noopener noreferer"><i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Copyright Information -->
        <div class="row footer-copyright">
            <p class="footer-item">
                The Coffee Collective © 2022.
                <br />All rights reserved
            </p>
        </div>
    </div>
</footer>