<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- Left Side Navbar Items -->
    <ul class="navbar-nav mr-auto">
        <li class="nav-item d-block d-md-none">
            <a class="nav-link" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                Fresh Coffee
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'products' %}?category=ground_coffee,coffee_beans">All
                    Products</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=ground_coffee">Ground Coffee</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=coffee_beans">Coffee Beans</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                Coffee Making
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item"
                    href="{% url 'products' %}?category=cafetieres,moka_pots,coffee_cups,machines,coffee_clothing">All
                    Products</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=cafetieres">Cafetiere</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=moka_pots">Moka Pot</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=coffee_cups">Coffee Cups</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=machines">Machines</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=coffee_clothing">Coffee Clothing</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                About
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'our_story' %}">Our Story</a>
                <a class="dropdown-item" href="{% url 'faqs' %}">FAQs</a>
                <a class="dropdown-item" href="{% url 'contact' %}">Contact</a>
                <a class="dropdown-item" href="{% url 'sustainability' %}">Sustainability</a>
                <a class="dropdown-item" href="{% url 'accessibility_statement' %}">Accessibility</a>
                <a class="dropdown-item" href="{% url 'terms_and_conditions' %}">T&C's</a>
                <a class="dropdown-item" href="{% url 'copyright_statement' %}">Copyright Info</a>
            </div>
        </li>
    </ul>
    <!-- Right Side Navbar Items -->
    <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 d-md-none d-lg-block">
        <ul class="list-inline list-unstyled text-center text-lg-right my-0">
            <!-- Search Feature -->
            <li class="list-inline-item">
                <a class="text-black nav-link" href="#" id="search" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <div class="text-center">
                        <div class="nav-icon"><i class="fas fa-search fa-lg"></i></div>
                        <p class="my-0 nav-label">Search</p>
                    </div>
                </a>
                <div class="dropdown-menu w-100 p-3 rounded-0 my-0" aria-labelledby="search">
                    <form class="form" method="GET" action="{% url 'products' %}">
                        <div class="input-group w-100">
                            <input class="form-control border border-black rounded-0" type="text" name="q"
                                placeholder="Search our site" aria-labelledby="search">
                            <!-- Search button -->
                            <div class="input-group-append">
                                <button class="form-control btn btn-outline-success border border-black rounded-0"
                                    type="submit" aria-labelledby="search">
                                    <span class="icon">
                                        <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>
            <!-- User Account Menu -->
            <li class="list-inline-item dropdown">
                <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <div class="text-center">
                        <div class="nav-icon"><i class="fas fa-user fa-lg"></i></div>
                        <p class="my-0 nav-label">My Account</p>
                    </div>
                </a>
                <div class="dropdown-menu" aria-labelledby="user-options">
                    {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <a href="{% url 'add_product' %}" class="dropdown-item user-profile-link">Product Management</a>
                    {% endif %}
                    <a href="{% url 'profile' %}" class="dropdown-item user-profile-link">My Profile</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item user-profile-link">Sign Out</a>
                    {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item user-profile-link">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item user-profile-link">Sign In</a>
                    {% endif %}
                </div>
            </li>
            <!-- Shopping Bag Details -->
            <li class="list-inline-item">
                <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                    href="{% url 'view_bag' %}">
                    <div class="text-center">
                        <div class="nav-icon"><i class="fas fa-bag-shopping"></i></div>
                        <p class="my-0 nav-label">
                            {% if grand_total %}
                            £{{ grand_total|floatformat:2 }}
                            {% else %}
                            £0.00
                            {% endif %}
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>