/* || BAG PAGE STYLES  */
.keep-shopping-btn {
    font-size: 1.5rem;
    letter-spacing: 0.075rem;
    border: 0.15rem solid #e1efe6;
    border-radius: 0.3125rem;
    padding: 0.375rem;
}

.keep-shopping-btn:hover {
    border-color: #674ea7;
}

.update-item,
.remove-item {
    cursor: pointer;
}

.input-group>.input-group-append>.btn {
    background-color: #674ea7;
    color: #fff;
    border-radius: 0;
    border: 1px solid #ced4da;
}

.input-group>.input-group-prepend>.btn {
    background-color: #e9ecef;
    color: #383838;
    border-radius: 0;
    border: 1px solid #ced4da;
}

.input-group>.form-control {
    text-align: center;
}

.bag-contents-table-div {
    text-align: -webkit-center;
}

.bag-contents-table {
    width: 80%;
}


/****************************************************************/

/* |||| MEDIA QUERIES  */

/* // Extra Small devices (iPhone 5, Galaxy Fold, 280px and up) */
@media (min-width: 280px) {

    .update-form-div {
        margin-left: 25%;
        margin-right: 25%;
    }

    .free-delivery-alert {
        color: #351c75;
        text-align: center;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .update-form-div {
        margin-left: 0;
        margin-right: 0;
    }

    .free-delivery-alert {
        text-align: right;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}