{% load static %}

<!doctype html>
<html lang="en" class="h-100">

<head>
  <!-- Meta tags -->
  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Rick Atherton">
  <meta name="description"
    content="The Coffee Collective are a community of coffee lovers, they sell hand roasted coffee on the streets of Manchester everyday, and they also sell online with delivery to your door.">
  <meta name="keywords"
    content="Espresso coffee beans, Fresh coffee machine, Fresh coffee beans, Fresh coffee ground, Cafetiere coffee ground strong, Coffee mug, Coffee cup, Coffee lover clothing, Cafetiere, Fresh coffee near me, Coffee in Manchester">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  <!-- Core CSS -->
  {% block corecss %}
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
    rel="stylesheet">
  <!-- Bootstrap v4.6 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <!-- Mailchimp Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
  <!-- CSS Styles -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  <!-- Core JavaScript -->
  {% block corejs %}
  {% endblock %}
  
  {% block extra_js %}
  {% endblock %}
  <!-- Page Title -->
  <title>Coffee Collective | {% block title %}UK Roasted & Delivered{% endblock %}</title>
</head>

<body>
  <!-- Collapsing Bootstrap Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top-desktop-only">
    <h1 class="navbar-brand d-none d-md-block"><a class="navbar-brand" href="{% url 'home' %}">the coffee collective</a></h1>

    <!-- Transforming burger menu icon -->
    <div class="burger-menu-container d-block d-lg-none" onclick="myFunction(this)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
    </div>

    <!-- Navbar for mobile devices -->
    {% include 'includes/mobile-top_head.html' %}
    <!-- Dropdown Nav Menus & Search Feature -->
    {% include 'includes/main-nav.html' %}
  </nav>
  
  <!-- Container to display standard messages to the user -->
  {% if messages %}
  <!-- Flexbox container for aligning the Bootstrap toasts -->
  <div class="message-container">
    {% for message in messages %}
    {% with message.level as level %}
    {% if level == 40 %}
    {% include 'includes/toasts/toast_error.html' %}
    {% elif level == 30 %}
    {% include 'includes/toasts/toast_warning.html' %}
    {% elif level == 25 %}
    {% include 'includes/toasts/toast_success.html' %}
    {% else %}
    {% include 'includes/toasts/toast_info.html' %}
    {% endif %}
    {% endwith %}
    {% endfor %}
  </div>
  {% endif %}
  
  <!-- Main content where independent html templates will act as the different page views -->
  <main class="main-content">
    {% block content %}
    <!-- Extended HTML page template content goes here -->
    {% endblock content %}
  </main>
  
  <!-- Footer throughout all pages -->
  {% include 'includes/footer.html' %}
  
  {% block postloadjs %}
  <!-- Font Awesome Kit Tag -->
  <script src="https://kit.fontawesome.com/ac339da8f6.js" crossorigin="anonymous" defer></script>
  <!-- Bootstrap jQuery and Popper JavaScript tags -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous" async>
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous" defer>
  </script>
  <!-- Stripe Card Payments -->
  <script src="https://js.stripe.com/v3/" defer></script>
  <!-- Script to automatically remove user messages after 5 seconds -->
  <script>
    setTimeout(function () {
      let messages = document.getElementById("msg");
      let alert = new bootstrap.Alert(messages);
      alert.close();
    }, 5000);
  </script>
  <!-- Script to animate burger icon on mobile devices -->
  <script>
    function myFunction(x) {
      x.classList.toggle("change");
    }
  </script>
  <!-- Script from Bootstrap to enable toast messaging -->
  <script>
    $('.toast').toast('show');
  </script>
  {% endblock %}

</body>

</html>