/* || CHECKOUT PAGE STYLES  */

/* Billing and Shipping form styles */
#payment-form .form-control,
#card-element {
    color: #383838;
    border: 0.0625rem solid #c1cbc6;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 2.5rem;
  padding: 0.625rem 0.75rem;
  border: 0.0625rem solid transparent;
  border-radius: 0rem;
  background-color: white;
  box-shadow: 0 0.0625rem 0.1875rem 0 #e1efe6;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 0.0625rem 0.1875rem 0 #e1efe6;
}

.StripeElement--invalid {
    border-color:#d9534f;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.submit-button {
  padding-right: 1rem;
}

.submit-button p span i {
  margin-right: 1.25rem;
}

/* Country Field styles */
select,
select option {
  color:#383838
}

select:invalid,
select option[value=""] {
  color: #aab7c4 !important
}

/* Page loading spinner whilst payment is being confirmed */
#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(128, 105, 185, 0.738);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}