{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Page header -->
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h1 class="page-title">Products</h1>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <!-- Container for all products -->
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                <!-- Bootstrap card combined with for loop to show all products -->
                {% for product in products %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
                        <div class="card h-100 border-0">
                            <!-- Product image (if available) -->
                            <div class="product-img-container">
                                {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                            </div>
                            <!-- Product details -->
                            <div class="card-body pb-0">
                                <h2 class="mb-0 card-title title-font">{{ product.name }}</h2>
                                <h3 class="card-subtitle mb-2">{{ product.subtitle }}</h3>
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        <p class="lead mb-0">£{{ product.price }}</p>
                                    </div>
                                    <div class="col mb-3">
                                        {% if product.rating %}
                                            <small class="lead rating-icon"><i class="fas fa-mug-hot"></i> {{ product.rating }} / 5</small>
                                        {% else %}
                                            <small class="text-muted">No Rating</small>
                                        {% endif %}
                                    </div>
                                </div>
                                <!-- Button to add product to cart -->
                                <div class="row">
                                    <div class="col">
                                        <a href="" class="btn quick-add-btn">Quick Add</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}