{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Product Detail' %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

<!-- Crispy Forms to render form for adding a product review-->
{% load crispy_forms_tags %}

{% block content %}
<!-- Page header -->
<div class="container-fluid">
    <!-- Container for product details -->
    <div class="row">
        <div class="col-md-6 product-details-container mt-3">
            <!-- Title, Subtitle, Description -->
            <div class="card-body pb-0">
                <h2 class="card-title title-font product-detail-title mb-4">{{ product.name }}</h2>
                <h3 class="card-subtitle mb-4">{{ product.subtitle }}</h3>
                <p class="card-description mb-4">{{ product.description }}</p>
            </div>
            <!-- Price, Rating, Quantity, Size, Buttons -->
            <div class="card-footer bg-white pt-0 border-0 text-left mb-3">
                <!-- Intensity -->
                <div class="row">
                    <div class="col">
                        {% with product.intensity as s %}
                        {% if s %}
                        {% if product.category.name == "ground_coffee" %}
                        <p class="card-description mb-2"><strong>Intensity:</strong> {{ product.intensity }} / 10</p>
                        {% elif product.category.name == "coffee_beans" %}
                        <p class="card-description mb-2"><strong>Intensity:</strong> {{ product.intensity }} / 10</p>
                        {% endif %}
                        {% endif %}
                        {% endwith %}
                    </div>
                </div>
                <!-- Rating -->
                <div class="row">
                    <div class="col">
                        {% if product.rating %}
                        <p class="rating-icon card-description mb-2"><strong>Rating:</strong> {{ product.rating }} /
                            5 <i class="fa-sharp fa-solid fa-mug-saucer"></i></p>
                        {% else %}
                        <p class="text-muted card-description mb-2">No Rating</p>
                        {% endif %}
                    </div>
                </div>
                <!-- Price -->
                <div class="row">
                    <div class="col">
                        <p class="card-description mb-2"><strong>Price:</strong> £{{ product.price }}</p>
                    </div>
                </div>
                <!-- Size, Quantity -->
                <div class="row">
                    <div class="col">
                        <!-- Form to input size and qty info -->
                        <form class="form size-qty-input-form" action="{% url 'add_to_bag' product.id %}" method="POST">
                            {% csrf_token %}
                            <!-- Size -->
                            <div class="form-row">
                                {% with product.has_sizes as s %}
                                {% if s %}
                                {% if product.category.name == "ground_coffee" %}
                                <p class="card-description mb-2"><strong>Size:</strong></p>
                                <div class="form-group">
                                    <select class="form-control" name="product_size" id="id_product_size">
                                        <option value="200g">200g</option>
                                        <option value="500g">500g</option>
                                        <option value="1kg">1kg</option>
                                    </select>
                                </div>
                                {% elif product.category.name == "coffee_beans" %}
                                <p class="card-description mb-2"><strong>Size:</strong></p>
                                <div class="form-group">
                                    <select class="form-control" name="product_size" id="id_product_size">
                                        <option value="200g">200g</option>
                                        <option value="500g">500g</option>
                                        <option value="1kg">1kg</option>
                                    </select>
                                </div>
                                {% elif product.category.name == "coffee_clothing" %}
                                <p class="card-description mb-2"><strong>Size:</strong></p>
                                <div class="form-group">
                                    <select class="form-control" name="product_size" id="id_product_size">
                                        <option value="Small">Small</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Large">Large</option>
                                    </select>
                                </div>
                                {% endif %}
                                {% endif %}
                            </div>
                            <!-- Quantity -->
                            <div class="form-row">
                                <p class="card-description mb-3"><strong>Quantity:</strong></p>
                                <div class="form-group">
                                    <div class="input-group">
                                        <!-- Decrease quantity button -->
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn" data-item_id="{{ product.id }}"
                                                id="decrement-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <!-- Quantity -->
                                        <input class="form-control qty_input" type="number" name="quantity" value="1"
                                            min="1" max="99" data-item_id="{{ product.id }}"
                                            id="id_qty_{{ product.id }}">
                                        <!-- Increase quantity button -->
                                        <div class="input-group-append">
                                            <button class="increment-qty btn" data-item_id="{{ product.id }}"
                                                id="increment-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Form buttons -->
                            <div class="form-row mt-3 mb-3">
                                <div class="col">
                                    <!-- Back to products page -->
                                    <button><a href="{% url 'products' %}"
                                            class="btn back-btn">Keep<br>Shopping</a></button>
                                    <!-- Add product to bag -->
                                    <input type="submit" class="btn standard-btn" value="Add to Bag">
                                </div>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </div>
                            {% endwith %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product image (if available) -->
        <div class="col-md-6 product-img-container mt-3 mb-3 text-center">
            {% if product.image %}
            <a href="">
                <img class="card-img-top img-fluid xl-screen-img" src="{{ product.image.url }}"
                    alt="{{ product.name }}">
            </a>
            {% else %}
            <a href="">
                <img class="card-img-top img-fluid xl-screen-img" src="{{ MEDIA_URL }}noimage.png"
                    alt="{{ product.name }}">
            </a>
            {% endif %}
        </div>
    </div>
    <!-- Container for Admins only to Edit/Delete Products -->
    {% if request.user.is_superuser %}
    <div class="row admin-links-container">
        <div class="col-12 mt-2 mb-4">
            <a class="admin-links" style="color:#155724" href="{% url 'edit_product' product.id %}">Edit</a>
            <a class="admin-links" style="color:#721c24;" href="{% url 'delete_product' product.id %}">Delete</a>
        </div>
    </div>
    {% endif %}
    <!--- Container for product reviews -->
    <div class="container-fluid mt-2 mb-4">
        <div class="row">
            <!--- Container for product reviews -->
            <div class="col-md-6 card mb-4 mt-3 border-0">
                <div class="card-body">
                    <h3 class="card-subtitle mb-2 cust-review-h3" style="color: #351c75">Customer Reviews
                    </h3>
                    {% for review in reviews %}
                    <div class="card-body mt-3 mb-3">
                        <p class="card-text">{{ review.username }} said:
                        </p>
                        <p class="card-text"><i>
                                    {{ review.message | linebreaks }}</i></p>
                        <span class="text-muted">
                            {{ review.created_on }}
                        </span>
                    </div>
                    {% endfor %}
                </div>
                <!-- Container for adding product reviews -->
                <div class="card-body">
                    <!--- Link to inform how registration is required -->
                    {% if not user.is_authenticated %}
                    <div class="card-body">
                        <h3 class="card-subtitle mb-2" style="color: #351c75">Would you like to review this product?
                        </h3>
                        <div class="card-body mb-3">
                            <p class="card-text register-text">Please either <a style="color:#351c75"
                                    href="{% url 'account_login' %}"><strong>sign in</strong></a> to your account or
                                register first.
                            </p>
                            <a href="{% url 'account_signup' %}" class="btn standard-btn register-btn">Register
                            </a>
                        </div>
                    </div>
                    <!--- Signed in user can leave a product review -->
                    {% else %} {% if user.is_authenticated %}
                    <div class="card-body">
                        <h3 class="card-subtitle" style="color: #351c75">Leave your review
                        </h3>
                        <div class="card-body">
                            <p class="card-text">
                                Reviewing as:
                                <span>{{ user.username }}
                                </span>
                            </p>
                            <!---User feature to add product review  -->
                            <form method="post" style="margin-top: 1.3em;">
                                {{ review_form | crispy }} {% csrf_token %}
                                <!---Button to submit product review -->
                                <button type="submit" class="standard-btn">Submit
                                </button>
                            </form>
                        </div>
                    </div>
                    {% endif %} {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}