<!-- Warning message -->
<div class="toast alert-warning" aria-live="assertive" aria-atomic="true" role="alert" id="msg" data-autohide="false">
    <!-- Header -->
    <div class="toast-header">
        <h4 class="alert-heading"><strong class="mr-auto">Warning!</strong></h4>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close" data-bs-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- Body -->
    <div class="toast-body">
        {{ message }}
    </div>
</div>