<!-- Error message -->
<div class="toast alert-danger" aria-live="assertive" aria-atomic="true" role="alert" id="msg" data-autohide="false">
    <!-- Header -->
    <div class="toast-header">
        <h4 class="alert-heading"><strong class="mr-auto">Error!</strong></h4>
        <button type="button" class="ml-2 mb-1 close toast-text" data-dismiss="toast" aria-label="Close"
            data-bs-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- Body -->
    <div class="toast-body toast-text">
        {{ message }}
    </div>
</div>